
@{
    ViewBag.Title = "Onas";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h2>Onas</h2>

<div style="margin-top:30px; line-height:25px;">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula diam leo. Donec et orci ut sapien viverra tincidunt nec sit amet odio.
    In accumsan pulvinar diam, sed cursus nisi venenatis sed. Sed posuere nibh velit, nec euismod metus ornare in. Fusce a tellus vitae augue placerat
    porttitor vel et odio. Nulla facilisi. Sed ac fermentum purus, et tempor turpis. Donec egestas quis enim at consectetur. Morbi in urna lobortis,
    tincidunt dui ac, accumsan sem. Pellentesque vel mauris quis metus iaculis pretium. Ut vel nulla facilisis, fringilla ipsum ac, condimentum tortor.
    Integer sagittis, arcu non efficitur porttitor, augue nunc egestas nisl, ac posuere dui quam vitae mauris.

</div>